.page-header
  = link_to new_user_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New User
  %h1 Listing users

= paginate @users
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Password digest
        %th Auth token
        %th Bio
        %th Bio update count
        %th
        %th
        %th

    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.password_digest
          %td= user.auth_token
          %td= user.bio
          %td= user.bio_update_count
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, :data => { confirm: 'Are you sure?' }, :method => :delete
