.page-header
  = link_to users_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_user_path(@user), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show user

%dl.dl-horizontal
  %dt Name:
  %dd= @user.name
  %dt Password digest:
  %dd= @user.password_digest
  %dt Auth token:
  %dd= @user.auth_token
  %dt Bio:
  %dd= @user.bio
  %dt Bio update count:
  %dd= @user.bio_update_count
